openapi: 3.0.3
info:
  title: Fix This API
  version: "1.0.0"
  description: |
    Civic infrastructure reporting API for Ithaca, NY and Cornell University.
    Backed by Cloud Firestore. Read paths are public-by-design for the demo.
    The export endpoints render in `export.html` and produce CSV / JSON /
    GeoJSON / Open311 downloads from the live data.
  contact:
    name: Yash Moitra
    url: https://fixthis.yashmoitra.com
servers:
  - url: https://firestore.googleapis.com/v1/projects/fixthis-17c64/databases/(default)/documents
    description: Firestore REST (read paths)
  - url: https://fixthis.yashmoitra.com
    description: Static site (export downloads)
paths:
  /reports:
    get:
      summary: List reports
      parameters:
        - in: query
          name: pageSize
          schema: { type: integer, default: 100, maximum: 1000 }
        - in: query
          name: pageToken
          schema: { type: string }
      responses:
        "200":
          description: Firestore-shaped list of report documents.
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items: { $ref: "#/components/schemas/FirestoreDocument" }
                  nextPageToken: { type: string }
  /reports/{id}:
    get:
      summary: Get a single report
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, pattern: "^FIX-\\d{6}-[A-Z0-9]{4}$" }
      responses:
        "200":
          description: Firestore document
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FirestoreDocument" }
        "404": { description: Not found }
  /export.html:
    get:
      summary: Admin export page
      description: Browser-rendered export UI. Click to download CSV / JSON / GeoJSON / Open311.
      responses:
        "200":
          description: HTML page
          content:
            text/html:
              schema: { type: string }
components:
  schemas:
    Report:
      type: object
      required: [id, schema_version, status, severity, dro, description, source, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: "^FIX-\\d{6}-[A-Z0-9]{4}$"
          example: "FIX-260507-A1B2"
        schema_version:
          type: integer
          enum: [1]
        status:
          type: string
          enum: [open, in_progress, resolved, closed]
        severity:
          type: string
          enum: [low, medium, high, emergency]
        dro:
          type: string
          pattern: "^[A-Z][A-Z0-9_]{1,31}$"
          example: ROADS
        title:
          type: string
        description:
          type: string
        location:
          type: object
          nullable: true
          required: [lat, lng]
          properties:
            lat:      { type: number, format: double, minimum: -90,  maximum: 90 }
            lng:      { type: number, format: double, minimum: -180, maximum: 180 }
            accuracy: { type: number, format: double, nullable: true }
            address:  { type: string }
        photo:
          type: string
          nullable: true
          description: data URL (compressed JPEG) or https URL.
        photo_meta:
          type: object
          nullable: true
          properties:
            width:           { type: integer }
            height:          { type: integer }
            originalSize:    { type: integer }
            compressedSize:  { type: integer }
            takenAt:         { type: string, format: date-time, nullable: true }
        photo_taken_at:
          type: string
          format: date-time
          nullable: true
        owner:
          type: object
          nullable: true
          required: [scope]
          properties:
            scope: { type: string }
            email: { type: string, format: email, nullable: true }
            phone: { type: string, nullable: true }
        reporter:
          type: object
          nullable: true
          properties:
            anonymous: { type: boolean }
            name:      { type: string }
            contact:   { type: string }
        source:
          type: string
          enum: [citizen_web, admin, api, import]
        tags:
          type: array
          items: { type: string }
        classification:
          type: object
          nullable: true
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }
        history:
          type: array
          items:
            type: object
            properties:
              at:     { type: string, format: date-time }
              by:     { type: string }
              action: { type: string }
              from:   { type: string }
              to:     { type: string }
        metadata: { type: object, nullable: true }
    FirestoreDocument:
      type: object
      description: Firestore REST shape. The fields object contains typed values per Firestore docs.
      properties:
        name:       { type: string }
        fields:     { type: object }
        createTime: { type: string, format: date-time }
        updateTime: { type: string, format: date-time }
    Open311ServiceRequest:
      type: object
      description: GeoReport v2 service request. See https://wiki.open311.org/GeoReport_v2/
      properties:
        service_request_id: { type: string }
        status:             { type: string, enum: [open, closed] }
        status_notes:       { type: string }
        service_name:       { type: string }
        service_code:       { type: string }
        description:        { type: string }
        requested_datetime: { type: string, format: date-time }
        updated_datetime:   { type: string, format: date-time }
        address:            { type: string }
        lat:                { type: number, nullable: true }
        long:               { type: number, nullable: true }
        media_url:          { type: string, format: uri, nullable: true }
